# Reduce

In [1]:
#reduce doesnot come inbuit like map and filter .so we have to func tools and import reduce

In [2]:
#difference between filter and reduce

In [3]:
#reduce is not generater as it gives single value

In [8]:
from functools import reduce
def mul(x,y):
    return x*y
reduce(mul,[1,2,3,4])

24

In [9]:
#task equivalent to filter and square

In [12]:
[i**2 if i%2==1 else i for i in range (5,10)] #list comprehension

[25, 6, 49, 8, 81]

In [24]:
[i**2 if i%2==1 else i for i in range(1,20) if i%3!=0] # last if code represets filter as it filter the multiples of 3

In [23]:
{i**2 if i%2==1 else i for i in range(1,20) if i%3!=0}  # dictionary comprehension

{1, 2, 4, 8, 10, 14, 16, 25, 49, 121, 169, 289, 361}

In [27]:
{i:i**2 if i%2==1 else i for i in range(1,20) if i%3!=0}

{1: 1,
 2: 2,
 4: 4,
 5: 25,
 7: 49,
 8: 8,
 10: 10,
 11: 121,
 13: 169,
 14: 14,
 16: 16,
 17: 289,
 19: 361}

In [34]:
#x^2:x is natural number less than 10

In [29]:
#x:x is a whole number less than 20 , x is eeven

In [31]:
{i for i in range(0,19) if i%2==0 } #x:x is a whole number less than 20 , x is eeven

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [35]:
{i**2 for i in range(1,9)} #x^2:x is natural number less than 10

{1, 4, 9, 16, 25, 36, 49, 64}

In [46]:
X =["A","E","I","O","U"]   #x:x is an alphabet in "mathematics" if x is vowel
[i  for i in "MATHEMATICS" if i in X]

['A', 'E', 'A', 'I']

In [50]:
#find all the number from 1-1000 that have a 3 in them
[i for i in range(1,1000) if str(3) in str(i)]

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]


x = "i love python"
len([i for i in x if i == ' '])

In [62]:
# remove all the vowels from "mathematics and create a string
v = "aeiou"
X = "mathematics"
"".join([i for i in X if i.lower() not in v])

'mthmtcs'

In [66]:
s= "i do love python"
[i for i in s.split() if len(i)<4]

['i', 'do']

In [93]:
def factorial(n):
    a = 1
    for i in range(2,n+1):
        i = i+1
        x = x*i
    return x

In [94]:
factorial(5)

UnboundLocalError: local variable 'x' referenced before assignment

In [77]:
def fac(x):
    return reduce(lambda x,y :x*y, range(2,x+1) )

In [78]:
fac(5)

120

In [87]:
def facto(x):
    if x<2:
        return x
    return x*facto(x-1)

In [88]:
facto(5)

120